.xl_header {
    width: 100% !important;
    z-index: 20;
    display: block;
    position: absolute;
    top: 50px;
    left: 0;


    nav {
        background-color: #FBF2E0;
        padding: 20px;
        border-radius: 50px;
        box-shadow: 20px 23px 40px 0 #00000029;

        .menu {
            font-size: 30px;
            font-weight: 100;
            cursor: pointer;
        }

        .close_btn {
            cursor: pointer;
            font-size: 20px;
        }

        .nav-search {
            background-color: #FFFFFF;
            padding: 15px 30px;
            border-radius: 50px;
            border: 2px solid #FAE7C0;


            .search {
                color: #A0A0A0;
                font-weight: 900;
            }

            input {
                border: none;
                outline: none;
                color: #A0A0A0;
            }

        }

        .logo {
            img {
                width: 156px;
                height: 34px;
            }
        }

        .nav-right {
            display: flex;
            gap: 20px;

            .icon {
                color: #222222;
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                font-size: 22px;
                border-radius: 50%;
                box-shadow: 2px 3px 0 0 #fabe17;
                transition: all 0.5s ease;

                span {
                    background-color: #FABE17;
                    color: #5B2800;
                    right: -5px;
                }
            }

            .icon:hover {
                background-color: #5B2800;
                cursor: pointer;
                color: white;
            }
        }

        .offcanvas {

            .active {
                width: 100%;
                background: #FABE17 !important;
                color: #fff !important;
            }

            ul {
                padding: 0;
            }

            a {
                margin: 5px 0;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                height: 40px;
                width: 100%;
                padding: 0 10px;
                border-radius: 10px;

                &:hover {
                    background-color: #FABE17;
                    color: white;

                }
            }

        }

        .nav_footer {
            p {
                font-size: 15px;
                color: #434343;

                span {
                    font-weight: 600;
                }
            }

            .icons {
                background-color: #000000;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: white;
                transition: all .5s ease;

                &:hover {
                    background-color: #fabe17;
                    cursor: pointer;
                }
            }
        }
    }
}


.sm_header{
    nav{
        .res_menu{
            font-size: 25px;
        }

        .logo {
            img {
                width: 156px;
                height: 34px;
            }
        }

        .nav-right {
            display: flex;
            gap: 10px;

            .icon {
                background-color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                font-size: 15px;
                border-radius: 50%;
                box-shadow: 2px 3px 0 0 #fabe17;
                transition: all 0.5s ease;

                span {
                    background-color: #FABE17;
                    color: #5B2800;
                    right: -5px;
                }
            }

            .icon:hover {
                background-color: #5B2800;
                cursor: pointer;
                color: white;
            }
        }
        .offcanvas{

            .close_btn{
                cursor: pointer;
            }
            .active {
                width: 100%;
                background: #FABE17 !important;
                color: #fff !important;
            }

            ul {
                padding: 0;
            }

            a {
                margin: 5px 0;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                height: 40px;
                width: 100%;
                padding: 0 10px;
                border-radius: 10px;

                &:hover {
                    background-color: #FABE17;
                    color: white;

                }
            }
        }

        .nav_footer{
            p {
                font-size: 15px;
                color: #434343;

                span {
                    font-weight: 600;
                }
            }

            .icons {
                background-color: #000000;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: white;
                transition: all .5s ease;

                &:hover {
                    background-color: #fabe17;
                    cursor: pointer;
                }
            }
        }
    }
}