.shop {

    .active {
        background-color: #5B2800 !important;
        color: white;
        border-radius: 7px;

    }

    .banner {
        background-image: url('../images/breadcrumb.webp');
        padding: 250px 0 100px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .shop_category {
        border: 1px solid #F2F2F2;
        border-radius: 16px;
        padding: 16px;

        .cat_head {
            border-bottom: 1px solid #F2F2F2;

            p {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .cat_content {
            p {
                padding: 5px;
            }

            .items {
                &:hover {
                    cursor: pointer;
                }
            }

        }
    }

    .price_filter {
        border: 1px solid #F2F2F2;
        border-radius: 16px;
        padding: 16px;

        .price_head {
            border-bottom: 1px solid #F2F2F2;

            p {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .maxmin_price {
            p {
                color: #909090;
                font-size: 13px;
            }
        }

        .ranger_price {
            color: #434343;
            font-size: 13px;
            font-weight: 600;

            span {
                font-size: 14px;
            }

        }

        button {
            border: none;
            background-color: #ECECEC;
            font-size: 10px;
            font-weight: 700;
            padding: 10px 20px;
            color: #222222;
            border-radius: 5px;
            transition: all .3s;

            &:hover {
                background-color: #5B2800;
                color: white;
            }
        }
    }

    .shop_cards {
        .showing_results {
            background-color: #F2F2F2;
            padding: 5px 15px;
            border-radius: 8px;

            p {
                font-size: 13px;
            }

            .grid-cards {
                background-color: white;
                padding: 15px;
                display: flex;
                justify-content: center;
                border-radius: 5px;
                font-size: 25px;
                transition: all .3s;

                &:hover {
                    background-color: #7A3E1C;
                    color: white;
                    cursor: pointer;
                }
            }

            .custom-select {
                .ant-select {
                    width: 250px;
                    //   background-color: white !important;
                    height: 50px;
                    text-align: center;

                    .ant-select-selector {
                        background-color: transparent !important;
                        color: black;
                        padding: 16px 20px;
                        // border-radius: 16px;
                        border: 1px solid #E4E4E4;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    .ant-select-selection-item {
                        color: black;
                    }
                }
            }
        }
    }


    :where(.css-dev-only-do-not-override-17seli4).ant-slider .ant-slider-track {
        background-color: #5B2800;
        border-radius: 2px;
    }

    :where(.css-dev-only-do-not-override-17seli4).ant-slider .ant-slider-handle::after {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 0 2px #5B2800;
        border-radius: 50%;
        cursor: pointer;
        transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
    }





    :where(.css-dev-only-do-not-override-1okl62o).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        color: rgba(0, 0, 0, 0.88);
        font-weight: 600;
        background-color: black;
    }

}